<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="UltimateContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=GocekDer;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>